body {
    background-image: url("images/door-open.gif");
    background-repeat: repeat;
}

.container {
    border: .5rem solid goldenrod;
    height: 100vh;
    margin: auto;
    /*padding: auto;*/

    /*background: darkred;
    border: 3px solid goldenrod;
    height: 50vh;
    width: 100%;
    max-width: 700px;
    margin - top: auto; 
    
    display: flex;
    align-items: center;
    justify-content: center;
  }*/
}

.container2 {
    position: relative;
    background: darkred;
    border: .25rem solid goldenrod;
    width: 70%;
    min-width: 28rem;
    max-width: 50rem;
    margin: 5rem auto;
    /*margin-left: auto;
    margin-right: auto;*/
    
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /*background: darkred;
    border: 3px solid goldenrod;
    max-width: 700px;
    width: 100%;

    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;*/

}

.flag1 {
    postion: absolute;
    background: darkred;
    float: left;
    width: 10rem;
    min-width: 5rem;
    max-width: 50rem;
    margin: 1rem; 
    margin-left: 2rem;
    /*margin-right: 3rem;
    margin-left: 3rem;*/

}

/*.div1 {
    position: absolute;
    float: left;
    background: darkred;
    border: .25rem solid goldenrod;
    min-width: 50%;
    max-width: 100%;
    padding: auto;
    
}*/

h1 {
    postion: absolute;
    float: left;
    margin: auto; 
    margin: 1rem; 
    margin-right: 2rem;

    text-align: left;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.container3 {
    position: relative;
    background: goldenrod;
    border: .25rem dashed blue;
    width: 30%;
    min-width: 2rem;
    max-width: 50rem;
    margin-top: 1rem; 
    margin-left: 12rem;
    
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    postion: absolute;
    float: left; 

    text-align: left;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}


