body {
    background-image: url("images/door-open.gif");
    background-repeat: repeat;
}

.container {
    border: .5rem solid goldenrod;
    margin: auto;
    /*padding: auto;*/

    /*background: darkred;
    border: 3px solid goldenrod;
    height: 50vh;
    width: 100%;
    max-width: 700px;
    margin - top: auto; 
    
    display: flex;
    align-items: center;
    justify-content: center;
  }*/
}

.container2 {
    position: relative;
    background: darkred;
    border: .25rem solid goldenrod;
    width: 70%;
    min-width: 28rem;
    max-width: 50rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: auto;
    margin-right: auto;*/
    
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /*background: darkred;
    border: 3px solid goldenrod;
    max-width: 700px;
    width: 100%;

    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;*/

}

.flag1 {
    postion: absolute;
    background: darkred;
    float: left;
    width: 10rem;
    min-width: 5rem;
    max-width: 50rem;
    margin: 1rem; 
    margin-left: 2rem;
    /*margin-right: 3rem;
    margin-left: 3rem;*/

}

/*.div1 {
    position: absolute;
    float: left;
    background: darkred;
    border: .25rem solid goldenrod;
    min-width: 50%;
    max-width: 100%;
    padding: auto;
    
}*/

h1 {
    postion: absolute;
    float: left;
    margin: auto; 
    margin: 1rem; 
    margin-right: 2rem;

    text-align: left;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.slippers {
    
}

.container3 {
    position: relative;
    background: goldenrod;
    border: .25rem dashed blue;
    width: 70%;
    min-width: 23rem;
    max-width: 30rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    /*margin-left: auto;
    margin-right: auto;*/
    
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /*position: relative;
    background: goldenrod;
    border: .25rem dashed blue;
    width: 70%;
    min-width: 26rem;
    max-width: 50rem;
    
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;*/

}

h2 {
    postion: relative;
    float: left; 
    margin: 1rem; 

    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;

    /*postion: abso;
    float: left; 

    text-align: left;
    font-size: 1rem;
    align-items: center;
    justify-content: center;*/
}

.container4 {
    position: relative;
    /*background: goldenrod;
    border: .25rem dashed blue;*/
    width: 70%;
    /*min-width: 23rem;
    max-width: 30rem;*/
    /*margin-top: 2rem;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-left: auto;
    margin-right: auto;*/
    
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slipper {
    width: 4rem;
}

.about {
    postion: relative;
    color: white;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.25rem;
    padding: 2rem;
}

#flex-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80vw;
    height: max-content;
    /*background-color: rgb(200, 220, 255);*/
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .box {
    display: flex;
    width: 500px;
    height: 500px;
    border: 5px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  
  .beige {
    background-color: beige;
    width: 400px;
    height: 400px;
  }
  
  .top{
    position: relative;
    /*background:green;*/
    margin-bottom: 30rem;
    margin-top: 5rem;
    margin-left: 2rem;
    height: 2rem;
  }

  h6{
    margin-left: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
  }

  .sub { 
    /*background-color: red;*/
    width: 200px;
    height: 200px;
    margin-right: 1rem;
  }

  ul {
    font-size: 1rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  /*.orange {
    background-color: orange;
  }*/

  .baby {
    width: 400px;
    height: 400px;
  }

  #flex-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80vw;
    height: max-content;
    /*background-color: rgb(200, 220, 255);*/
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .box {
    display: flex;
    width: 500px;
    height: 500px;
    border: 5px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  
  .green {
    background-color: greenyellow;
    width: 500px;
    height: 1000px;
    margin-bottom: 40rem;
  }
  
  .top2 {
    position: relative;
    /*background:green;*/
    margin-bottom: 45rem;
    margin-top: 5rem;
    margin-left: 2rem;
    height: 2rem;
  }

  .facts{
    position: relative;
    /*background-color: grey;*/
    font-size: 2rem;
    text-align: center;
    margin-right: 3rem;
    margin-top: 8rem;;
    
  }

  .sub2 { 
    /*background-color: red;*/
    width: 300px;
    height: 200px;
    margin-right: 1rem;
    margin-bottom: 10rem;
  }

  .philip {
    font-size: .75rem;
    text-align: center;
    margin-left: 2rem;
  }

  .orange1 {
    /*background-color: orange;*/
    margin-bottom: 35rem;
  }

  .map {
    width: 200px;
    height: 400px;
    margin-bottom: 3rem;
  }

  #flex-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80vw;
    height: max-content;
    /*background-color: rgb(200, 220, 255);*/
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .box {
    display: flex;
    width: 500px;
    height: 500px;
    border: 5px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 4em;
  }
  
  .beige {
    background-color: beige;
    width: 400px;
    height: 400px;
  }
  
  .top{
    position: relative;
    /*background:green;*/
    margin-bottom: 30rem;
    margin-top: 5rem;
    margin-left: 2rem;
    height: 2rem;
  }

  h6{
    margin-left: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
  }

  .sub { 
    /*background-color: red;*/
    width: 200px;
    height: 200px;
    margin-right: 1rem;
  }

  ul {
    font-size: 1rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  /*.orange {
    background-color: orange;
  }*/

  .palawan {
    width: 400px;
    height: 400px;
  }
