body {
    background-image: url("images/door-open.gif");
    background-repeat: repeat;
}

audio {
    height: 0rem;
    color: none;
}
.container {
    border: .5rem solid goldenrod;
    margin: auto;
}

.in {
    position: relative;
    width: 70%;
    height: 500px;
    min-width: 450px;
    max-width: 100%;
    background: darkred;
    border: 3px solid yellow;
    background-image: url(https://web.archive.org/web/20091026011616/http://geocities.com/apstaxman/Philippines.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornsilk;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strolling {
    position: relative;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;

    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box {
    position: relative;
    background: goldenrod;
    border: .25rem dashed blue;
    width: 65%;
    min-width: 18rem;
    max-width: 40rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s;
}

.box :hover {
  color: red;
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: 2rem 2rem yellow;
}

h1 {
    postion: relative;
    /*float: left;*/
    margin: 1rem; 

    text-align: center;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.shapes {
    position: relative;
    width: 95vw;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.about {
    position: relative;
    color: white;
    /*float: left;*/
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;

    text-align: center;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    /*color: white;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 50rem;*/
}

#wrapper {
    /*background-color: gray;*/
    color: #c89a4c;
    width: 80%;
    height: max-content;
    margin: 110px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*position: relative;
    display: flex;
    flex-direction: row;
    margin: 110px auto;
    margin: 110px 100px 50px 90px;
    width: 80vw;
    height: max-content;
    background-color: rgb(200, 220, 255);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;*/
}
  
  
.box1 {
    width: 350px;
    height: 350px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*background-color: beige;*/
    /*text-align: center;
    font-size: 2em;
    padding-top: 3rem;
    margin: 20px 0;*/
    /*display: flex;
    width: 400px;
    height: 400px;
    border: 10px dotted greenyellow;
    margin: 15px 0;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 2em;*/
    
}
  
.beige {
    background-color: #6b559e;
    text-align: center;
    font-size: 2em;
    padding-top: 3rem;
    margin: 20px 0;
}

/*.info {
    position: relative;
    background: cornflowerblue;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-bottom: 20rem;
    /*margin-left: 20rem;*/
}*/

.about2 {
    /*margin-top: 10rem;*/
    margin-left: 12rem;
    list-style-type: none;
}
  
ul {
    /*background:cyan;*/
    /*position: relative;
    display: block;*/
    text-align: center;
    margin-right: 2rem;
    font-size: 1rem;
    font-family: monospace;
    list-style-type: none;
    margin-top: 3rem;
    /*padding-bottom: 10rem;*/

}
  
.orange {
    background-color: orange;
    background-image: url(images/babyme.jpg);
    background-size: cover;
    border: 10px dotted greenyellow;
}

#wrapper2 {
    /*background-color: gray;*/
    color: #d9cb51;
    width: 80%;
    height: max-content;
    margin: 110px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*position: relative;
    display: flex;
    flex-direction: row;
    margin: 110px auto;
    margin: 110px 100px 50px 90px;
    width: 80vw;
    height: max-content;
    background-color: rgb(200, 220, 255);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;*/
}
  
.box2 {
    width: 450px;
    min-width: 450px;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cyan {
    background-color: orange;
    background-image: url(images/philippines.jpeg);
    background-size: cover;
    border: 10px dotted greenyellow;
}

.purple {
    background-color: #47834d;
    text-align: center;
    font-size: 2em;
    padding-top: 5rem;
    margin: 20px 0;
}

/*.info {
    position: relative;
    background: cornflowerblue;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-bottom: 20rem;
    /*margin-left: 20rem;*/
}*/

.about3 {
    /*margin-top: 10rem;*/
    margin-left: 12rem;
    list-style-type: none;
}
  
ul {
    /*background:cyan;*/
    /*position: relative;
    display: block;*/
    text-align: center;
    margin-right: 2rem;
    font-size: 1rem;
    list-style-type: none;
    margin-top: 4rem;
    /*padding-bottom: 10rem;*/

}

#wrapper3 {
    /*background-color: gray;*/
    color: #e97a37;
    width: 80%;
    height: max-content;
    margin: 110px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*position: relative;
    display: flex;
    flex-direction: row;
    margin: 110px auto;
    margin: 110px 100px 50px 90px;
    width: 80vw;
    height: max-content;
    background-color: rgb(200, 220, 255);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;*/
}
  
.box3 {
    width: 400px;
    min-width: 450px;
    height: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.blue {
    background-color: #a33049;
    text-align: center;
    font-size: 2em;
    padding-top: 3rem;
    margin: 20px 0;
}

/*.info {
    position: relative;
    background: cornflowerblue;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-bottom: 20rem;
    /*margin-left: 20rem;*/
}*/

.about4 {
    /*margin-top: 10rem;*/
    margin-left: 12rem;
    list-style-type: none;
}
  
ul {
    /*background:cyan;*/
    /*position: relative;
    display: block;*/
    text-align: center;
    margin-right: 2rem;
    font-size: 1rem;
    list-style-type: none;
    margin-top: 3rem;
    /*padding-bottom: 10rem;*/

}

.yellow {
    background-color: orange;
    background-image: url(images/palawan.jpeg);
    background-size: cover;
    border: 10px dotted greenyellow;
}
  
#wrapper4 {
    /*background-color: gray;*/
    color: #e6cf81;
    width: 80%;
    height: max-content;
    margin: 110px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*position: relative;
    display: flex;
    flex-direction: row;
    margin: 110px auto;
    margin: 110px 100px 50px 90px;
    width: 80vw;
    height: max-content;
    background-color: rgb(200, 220, 255);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;*/
}
  
.box4 {
    width: 350px;
    min-width: 450px;
    height: 800px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.pink {
    background-color: #d99e42;
    text-align: center;
    font-size: 2em;
    padding-top: 3rem;
    margin: 20px 0;
}

/*.about5 {
    /*margin-top: 10rem;*/
    /*margin-left: 12rem;
}*/
  
ul {
    text-align: center;
    margin-right: 2rem;
    font-size: 1rem;
    margin-top: 3rem;
}

.thanks {
    position: absolute;
    margin-top: 3.5rem;
    margin-left: 10rem;
}